.awardContainer {
  position: relative;
  width: 100%;
  padding: 3rem 0;
  background: hsla(40,76%,77%,.29);
  text-align: center;
}

.headingTitle {
  font-size: 32px;
  color: #c78911;
  margin-bottom: 2rem;
  text-transform:uppercase;
}
.swiperContainer{
padding: 1rem 5rem;
}

.slideCard {
 width:auto;
 
  transition: transform 0.4s ease;
}

.slideImage {
  width: 100%;
  height: auto;
  object-fit: cover;
 
}

.swiper-slide-active .slideCard {
  transform: scale(1.05);
}

/* Navigation Buttons */

.navButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  margin-top: -20px; /* half height */
  background:#2f2f2f;
  color: #d4a64a;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  user-select: none;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background: #2f2f2f;
  color: #b2882f;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
  .navButton {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-top: 28px;
  }
.swiperContainer{
padding: 0rem 0rem;
}

  .prevButton {
    left: 8px;
  }

  .nextButton {
    right: 5px;
  }
  .awardContainer {
    padding: 1rem 0;
  }
  .developerSlideHeading {
    font-size: 20px;
  }
  .developerSlideSubtext{
     margin-bottom: 0px;
  }
  .headingTitle {
font-size: 24px;
  }
}