.section1 {
  padding: 0rem 1.5rem 6rem;
  /* background: #f8f9f7; */
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(241, 211, 152, 0.25) 60%,
    transparent 60% /* 🔥 SAME % = sharp line */
  );
}
/* 🔥 BACKGROUND LAYER */

.title2 {
  font-family: "Lexend Deca";
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 40px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1100px;
  width: 60vw;
  margin: 0 auto;
}

/* CARD */
.card2 {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

/* IMAGE */
.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  z-index: 2;

  /* 🔥 THIS is the key fix */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), transparent);
}

.overlay1 h3 {
  margin: 0;
  font-size: 18px;
}

.customPagination,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
}
/* 📱 MOBILE */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 28px;
  }
  .title2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .section1 {
    background: rgba(241, 211, 152, 0.25);
    padding: 1rem 1.5rem 2rem;
  }
}
