.container1 {
  margin: 0 auto;
  padding: 20px 20px;
}

.jobOpeningHeading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 30px;
  margin: 0px 0rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.icon {
  color: #e4a951;
  font-size: 16px;
}
.descriptionBox {
  background: #f6f6f6;
  padding: 20px 24px;
  font-size: 12px;
  line-height: 1.6;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  border-top: 1px solid #ddd;
}
/* remove bottom radius when open */
.cardOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* Apply Button at the bottom */
.applyBtn {
  background-color: #e7b554;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.applyBtn:hover {
  background: #e8b245;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.cardContainer {
  width: 80%;
}

.jobSpan {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card3 {
  border-bottom: none;
  border-radius: 10px;
  padding: 20px 24px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: #f6f6f6;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
/* When expanded */
.cardOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card3:hover {
  border: 1px solid #2d6cdf;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* LEFT SIDE */
.left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.jobSpantitle {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.department {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #555;
}

.infoItem svg {
  font-size: 16px;
  color: #666;
}
.meta {
  display: flex;
  gap: 20px;
  font-size: 14px;
  justify-content: space-around;
  color: #444;
  margin-top: 8px;
}

/* RIGHT SIDE */
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  background: #2d6cdf;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.button:hover {
  background: #1f4fbf;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 100%; /* more width for small screens */
    margin: 0 auto; /* center it */
  }
  .container1 {
    padding: 20px 20px;
  }
  .jobOpeningHeading {
    font-size: 1.2rem;
  }
  .jobSpantitle {
    font-size: 14px;
  }
  .jobSpan img {
    height: 1rem;
  }

  .jobSpan {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-right;
  }

  .right {
    margin-top: 1rem;
  }
  .applyBtn {
    padding: 5px 18px;
    font-size: 14px;
  }
  .card3 {
    padding: 17px 10px;
  }
}
