.listbox{
    width: 500px;
    max-width: 100%;
    padding: 0px;
    position: absolute;
    list-style: none;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    max-height: 225px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    z-index: 1;

   top: 80%;
  }
  .listbox li{
    padding: 5px 12px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
  .listbox li span{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
  }
  .listbox li span svg:hover{
    color: goldenrod;
  }