/* NRIHomeFest.module.css */

.section1 {
  width: 100%;
  padding: 30px 70px;
  background: #fff;
  max-width: 1403px;
  margin: 0px auto;
}

.yt-icon-shape .ytSpecIconShapeHost {
  width: 50% !important;
}
/* Heading */

.heading {
  font-size: 2rem;
  font-weight: 700;
  color: #d4a64a;
  margin: 0;
}

/* Desktop Layout */

.storyContent {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.4fr;
  gap: 30px;
  align-items: flex-start;
}

/* Videos */

.videoBox iframe {
  width: 100%;
  height: 500px;
  border: none;
}

/* Story Text */

.storyText {
  color: #555;
  font-size: 15px;
  line-height: 1.9;
  text-align: justify;
}

/* Highlight */

.highlightName {
  color: #d4a64a;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.highlightName::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #d4a64a;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.highlightName:hover::after {
  transform: scaleX(1);
}
.videoBox1 {
  order: -1;
}
.videoBox2 {
  order: -2;
}

/* Tablet */

@media screen and (max-width: 992px) {
  .section1 {
    padding: 40px 30px;
  }

  .storyContent {
    grid-template-columns: 1fr;
  }

  .videoBox iframe {
    height: 420px;
  }
}

/* Mobile */

@media screen and (max-width: 768px) {
  .section1 {
    padding: 24px 18px 50px;
  }

  .heading {
    font-size: 26px;
  }

  .storyContent {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .videoBox iframe {
    height: 350px;
  }

  .storyText {
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
  }
  .videoBox1 {
    order: 2;
  }
  .videoBox2 {
    order: 1;
  }
}

/* Small Mobile */

@media screen and (max-width: 480px) {
  .heading {
    font-size: 22px;
  }

  .videoBox iframe {
    height: 280px;
  }

  .storyText {
    font-size: 13.5px;
  }
}
