
.servicesSectionWrapper {
width: 100%;
    margin: 40px 0px; 
    background: url(https://inframantra.blr1.cdn.digitaloceanspaces.com/60251%201.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 20px 0px;
}
  .servicesSectionCardWrapperFirst {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 6%;
   gap:20px;
}
  .servicesSectionCardWrapperFirst > .serviceCard {
   width: 23%!important;
   box-shadow:0px 2.22px 4.45px rgba(0, 0, 0, 0.15)
  }
 
  
.servicesSectionHeader
 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 25px;
    padding: 0% 6%;
    padding-bottom: 40px!important;
}
  
 .servicesSectionTitle {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
    margin: 0px;
}
.servicesSectionHeader p {
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}
  

  
 
 
 
  .serviceCardIconWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  
  .serviceCardIconContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
 
  
  .serviceCardTitleContainer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .serviceCardTitle {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
  }
  
  .serviceCardDescriptionContainer {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .serviceCardDescription {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;
  }
  
  .serviceCardIconWrapper > img {
    height: 38px;
    width: 38px;
  }
  .serviceCard:nth-child(odd) {
    background: #DCAA4C !important;
    color: white;
}

@media  (min-width: 768px) and (max-width: 991px) {
.serviceCardDescription {
    font-size: 14px;  
  }
.serviceCardTitle {
    font-size: 20px;  
  }
}

@media (max-width: 768px) {
.servicesSectionWrapper{
  margin: 0px 0px;
  padding: 0px 0px;
}
.serviceCardDescription {
    font-size: 12px;  
  }
.serviceCardTitle {
    font-size: 14px;  
  }
.servicesSectionCardWrapperFirst > .serviceCard {
    width: 47% !important;
}
.servicesSectionCardWrapperFirst{
  gap:20px;
}
.serviceCard.order2 {
    background: none !important;
    color: black;
}
.serviceCard.order3 {
    color: white;
    background: #DCAA4C ! Important;
}
.servicesSectionTitle{
  font-size: 20px;
}
.servicesSectionHeader p{
  font-size: 14px;
}
.servicesSectionHeader{
  gap: 12px;
}
}

@media screen and (max-width: 768px) {
.servicesSectionCardWrapperFirst{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.servicesSectionCardWrapperFirst > .serviceCard{
  width: 100%!important;
}
}