.card-w {
  margin-bottom: 0px;
}
.p-text-style {
  font-family: "Lexend Deca";
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 250;
}
@media (max-width: 768px) {
  .card-w {
    width: 100%;
  }
  .p-text-style {
    font-size: 12px !important;
    font-family: "Lexend Deca";
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 250;
  }
}
