/* ================= CSS ================= */
/* PropertyPriceCard.css */

.property-card-h {
  border-radius: 12px;
  padding: 0px 0rem;
}

.price {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.details li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #000;
  margin-bottom: 12px;
}

.details li:last-child {
  margin-bottom: 0;
}

.icon {
  width: 24px !important;
  height: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.icon img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
}

.muted {
  color: #666;
  font-size: 14px;
}
