/* ===== BANNER ===== */
.banner {
  background-image: url("https://inframantra.blr1.cdn.digitaloceanspaces.com/nri-page%20/banner%20(1).webp");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Overlay for better readability */
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
}
.benchmark {
  font-size: 1.2rem;
  background: linear-gradient(135deg, #d4af37, #e0bd55, #ebcf69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

/* ===== CONTAINER ===== */
.container {
  height: 100%;
  position: relative;
  z-index: 2;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

/* ===== LAYOUT ===== */
.bannerSection {
  height: 100%;
  display: flex;
  align-items: center;
}

.bannerInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 80px 0;
}

/* ===== LEFT SIDE ===== */
.bannerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
  max-width: 600px;
  bottom: 94px;
}
.bannerLeft h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 200;
  margin-top: 25px;
  margin-bottom: 25px;
  /* max-width: 67%; */
  background: linear-gradient(135deg, #d4af37, #e0bd55, #ebcf69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bannerRight nav {
  display: flex;
  justify-content: center;
}

.mainHeadingSpan {
  font-size: 1.2rem;
  background: linear-gradient(135deg, #d4af37, #e0bd55, #ebcf69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

/* ===== RIGHT SIDE FORM ===== */
.bannerRight {
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

/* ===== FORM ===== */
.formGroup {
  margin-bottom: 12px;
}

.formGroup label {
  font-size: 12px;
  color: #000;
}
.form-group label {
  font-size: 12px;
  color: #000;
}
.phoneContainer {
  width: 100%;
}

.flagDropdown {
  border: none !important;
  background: transparent !important;
}

.phoneContainer .form-control {
  width: 100% !important;
  height: 45px;
  border-radius: 6px;
}

.input {
  width: 100%;
  height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 0 15px;
  color: #161c2d;
  font-size: 12px;
  margin-top: 4px;
}

.select {
  composes: input;
}

.textarea {
  composes: input;
  height: 80px;
  padding-top: 10px;
}

.submitBtn {
  margin-top: 10px;
}
.formGroup {
  justify-content: flex-start;
}

.submitBtn button {
  width: 100%;
  height: 45px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* ===== TEXT ===== */
.dynamicPrice {
  color: #fff;
}

.mainHeading {
  display: none;
}

/* ===== SCROLL BUTTON ===== */
.scrollBtn {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.scrollCircle {
  width: 38px;
  height: 62px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* ===== ANIMATION ===== */
.movingArrow {
  width: 20px;
  animation: arrowFlow 2.5s ease-in-out infinite;
}
.displayNone {
  display: block;
}

@keyframes arrowFlow {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@media (max-width: 991px) {
  .bannerLeft > div {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .mainHeading {
    display: block;
    color: #fff;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .bannerLeft h1 {
    font-size: 3rem;

    max-width: 100%;
  }
  .displayNone {
    display: none;
  }
}
@media (max-width: 767px) {
  .bannerLeft .mainHeadingSpan {
    text-transform: none;
  }
  .scrollCircle {
    display: none;
  }
  .bannerLeft {
    bottom: 0px;
  }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .bannerInner {
    flex-direction: column;
    text-align: center;
  }

  .bannerLeft {
    max-width: 100%;
    align-items: center;
  }

  .bannerRight {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    min-height: 80vh;
  }

  .bannerRight {
    display: none;
  }

  .mainHeading {
    display: block;
  }
}
