.demoBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

/* Slideshow container */
.slideshow {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.demoBannerWrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demoBannerWrapper {
  width: 100% !important;
  height: auto !important; /* let height adjust automatically */

  overflow: hidden;
}


/* Common styles for images */
.slideImage {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  object-fit: cover;   /* makes sure image covers like background-size: cover */
  object-position: bottom center; /* like background-position */
  opacity: 0;
  animation: fade 15s infinite;
  z-index: 0;
}

/* Animation delays for slideshow effect */
.slideImage1 {
  animation-delay: 0s;
}

.slideImage2 {
  animation-delay: 5s;
}

.slideImage3 {
  animation-delay: 10s;
}

@keyframes fade {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}

@media screen and (max-width:760px) {
  .demoBannerWrapper + div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
