.clientTestimonyWrapper {
     overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
}
.testimonialHeadingTextContainer{
    display: block;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-top: 5%;
    flex-direction: column;
    padding-bottom: 20px;
}
.testimonialHeadingText{
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}
.testimonialHeadingTextContainer p {
    font-size: 20px;
}
.exploreMoreLink{
  border-radius: 15px;
    background-color: #DCAA4C;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1% auto;
    box-shadow:0px 2.22px 4.45px rgba(0, 0, 0, 0.15);
}
.clientTestimonyHeaderSection {
  height: 50%;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px;
}

.clientTestimonyCardText {
    color: #000000;
    font-weight: 500;
    text-align: left;
    width: 100%;
    font-size: 13px!important;
}

.clientTestimonyTestimonySection {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.clientTestimonyTestimonySection .swiper-wrapper {
    padding-top: 100px;
    align-items: stretch;
    padding-bottom: 60px;
}
.clientTestimonyTestimonySection .swiper-slide-next {
    font-size: 18px;
    scale: 1.13;
    padding: 0 10px;
}
.clientTestimonyTestimonySection .swiper-wrapper .swiper-slide{
  height: auto;
  display: flex;
}
.swiper-button-next.testimonyArrowBtn:after {
  content: '>';
font-size: 35px;
    font-weight: 900;
    font-family: monospace;
}
.swiper-button-next.testimonyArrowBtn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff61;
  color: #DCAA4C;

height: 40px;
    width: 40px;
  cursor: pointer;
  position: absolute;
  top: 60%;
}
.clientTestimonyCardWrapper{
 box-shadow:0px 2.22px 4.45px rgba(0, 0, 0, 0.15);
}
.testimonyCard {
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.testimonyArrowBtn {
    display: none!important;
}
@media (max-width: 768px) {
  
.testimonialHeadingText{
  font-size: 20px;
  margin-bottom: 12px;
}
.testimonialHeadingTextContainer p{
  font-size: 14px;
}
  .clientTestimonyTestimonySection .swiper-slide-next {
    font-size: 18px;
    scale: 1;
    padding: 0 10px;
}
p.clientTestimonyName {
    text-align: center;
}
.clientTestimonyCardWrapper{
  padding: 0px;
}
.clientTestimonyCardContainer>div>div {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.clientTestimonyCardFace{
  width: 35%;
}
.clientTestimonyCardContainer{
      width: 100%;
      padding: 20px;
}
.clientTestimonyCardText{
  font-size: 16px;
}
button.swiper-button-prev.testimonyArrowBtn {
    display: none;
}
button.swiper-button-next.testimonyArrowBtn {
    display: block!important;
}
.testimonialHeadingTextContainer{
  margin-top: 8%;
      padding-bottom: 0px;
}
.clientTestimonyTestimonySection .swiper-wrapper{
      padding-top: 80px;
}
.clientTestimonyTestimonySection .swiper-wrapper{
      padding-bottom: 40px;
}
}



