.aboutVisionWrapper {
 
  padding:10px 20px;
}

.aboutVisionContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.aboutVisionHeading {
  font-size: 42px;
  font-weight: 700;
  color: #cfa24a;
  margin-bottom: 50px;

  position: relative;
  display: inline-block; /* important for underline width */
}

/* underline hidden by default */
.aboutVisionHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px; /* space below text */
  width: 100%;
  height: 3px;
  background-color: #cfa24a;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

/* show underline on hover */
.aboutVisionHeading:hover::after {
  transform: scaleX(1);
}

.aboutVisionContent {
  display: flex;
  align-items: center;
  gap: 60px;
}

.aboutVisionIconBox {
  flex-shrink: 0;
}

.aboutVisionIcon {
  width: 300px;
  height: auto;
}

.aboutVisionText {
 
  line-height: 1.4;
  color: #000;
  max-width: 100%;
  font-size: 17px;
  font-weight: 700;

}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .aboutVisionHeading {
    font-size: 40px;
    text-align: center;
  }
  .aboutVisionWrapper {
padding: 20px 20px;
  }

  .aboutVisionContent {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }




}