.mobileNavigation {
    display: block;
    background-color: #000;
    box-shadow: 0 -3px 6px 0 #0000000f;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .mobileNavigation ul{
      display: flex;
      height: 100%;
      z-index: 1;
      margin-left: -40px;
      position: relative;
      list-style: none;
  }
  .mobileNavigation ul li {
    display: flex;
    width: calc(100% - 200px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .mobileNavigation ul li .em {
    width: 20px;
    height: 20px;
    position: relative;
    color: #daa520;
  }
  .mobileNavigation small {
    margin-top: 2px;
    color: #fff;
    font-size: 11px;
    line-height: 10px;
}
  .mobileNavigation ul li:nth-child(3) {
    width: 200px;
    bottom: 1px;
  }
  .mobileNavigation ul li:nth-child(3) span {
    padding: 0;
    margin: 0;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(140deg,#590348 50%,#ffffff 25%,#560738 -50%);
    /* background-image: linear-gradient(138deg,#7bddb3 -9%,#28a770 100%); */
  }
  .mobileNavigation ul li:nth-child(3) span .em {
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    color: white;
    background-size: 181px;
    background-position: -4px -95px;
    display: block;
    transition: .3s;
    position: absolute;
    top: 20%;
    left: 20%;
}

.mobileOurServices.active {
    bottom: 62px;
    display: block;
    transition: 3s;
    margin-left: -10px;
    margin-right: 10px;
}

.mobileOurServices {
    padding: 20px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 17px 0 #00000014;
    border: solid 1px #ededed;
    background: #fff;
    position: fixed;
    bottom: -100vh;
    transition: .3s;
    z-index: 90;
    display: none;
    transition: 0.9s;
}
.mobileOurServices span.closeBtn em {
    position: absolute;
    right: 0;
    padding-top: 10px;
    top: 0;
    width: 50px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mobileOurServices ul {
    display: block;
}
.mobileOurServices ul li {
    border-bottom: 1px solid #ededed;
    display: flex;
    height: 62px;
    align-items: center;
    cursor: pointer;
}
.mobileOurServices ul li .em {
    margin-right: 15px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background: url(/assets/images/sprite-icon/home-form-nav-sprite-icon.svg) no-repeat top left;
    background-size: 181px;
}
.mobileOurServices ul li strong {
    width: calc(100% - 55px);
    font-size: 14px;
    color: #333;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.mobileOurServices span.closeBtn .em {
    position: absolute;
    right: 0;
    padding-top: 10px;
    top: 0;
    width: 40px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    cursor: pointer;
}
.mobileOurServices strong {
    padding: 10px 0 0;
    margin: -20px -20px 0 0;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    line-height: 42px;
    display: block;
}
.mobileOurServices ul li strong span {
    font-weight: 400;
    font-size: 12px;
    color: #666;
    display: block;
}
.globalSearchBox.active{
    display: block;
}
.globalSearchBox{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    background: #fff;
    z-index: 999;
    overflow: hidden;
}
.globalSearchBox .searchHeader {
    width: 100%;
    height: 48px;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 12;
    box-shadow: 0 3px 6px 0 #00000012;
}
.globalSearchBox .searchHeading {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    display: -webkit-flex;
}
.globalSearchBox .serarcBackBtn {
    width: 48px;
    height: 100%;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex: none;
}
.globalSearchBox .serarcBackBtn .em {
    font-size: 14px;
    font-weight: 600;
}
.globalSearchBox .dropdownBtnBox.city {
    padding: 0;
    margin: 0;
}

.globalSearchBox .dropdownBtnBox {
    padding: 0 15px;
    margin-top: 15px;
    position: relative;
}
.globalSearchBox .searchHeader .dropdownToggle {
    padding: 0 58px 0 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
.globalSearchBox .searchHeader .dropdownToggle::before {
    border-bottom: dashed 1px #989898;
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    right: 35px;
    bottom: 10px;
}
.globalSearchBox .searchHeader .dropdownToggle::after {
    padding: 3px;
    border: solid #333;
    border-width: 0 1px 1px 0;
    display: block;
    transform: rotate(45deg);
    content: '';
    position: absolute;
    right: 42px;
    top: 19px;
}
.globalSearchBox .clearAll {
    padding: 0 15px;
    height: 48px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #5f449b;
}
.globalSearchBox .searchBody.fixedBtn {
    height: calc(100% - 108px);
}

.globalSearchBox .searchBody {
    padding-bottom: 20px;
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
}
.globalSearchBox .propertyTabBox {
    padding: 5px 15px 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.globalSearchBox .propertyTab {
    margin-left: 10px;
    width: 95px;
    height: 69px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: none;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.09);
    border: solid 1px #e3e3e3;
    border-radius: 8px;
}
.globalSearchBox .propertyTab.fixedTab {
    margin: 0 8px 0 0;
    background: #f8f5ff;
    box-shadow: none;
    border-color: #e7ddff;
    flex: none;
    color: #5f449b;
}
.globalSearchBox .scrollTab {
    padding: 3px 15px 3px 0;
    margin-right: -15px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    overflow: auto;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
}
.globalSearchBox .searchBox {
    padding: 0 0 20px!important;
    display: block!important;
    position: relative;
}
.globalSearchBox .searchesChip {
    padding: 10px 15px;
    display: block;
    z-index: 4;
    background: #fff;
}
.globalSearchBox .search {
    display: block;
    position: relative;
    width: 100%;
}
.globalSearchBox .searchesChip input {
    padding: 5px 32px;
    height: 48px;
    line-height: normal;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.08);
    border: solid 1px #c9c9c9;
    width: 100%;
}
.globalSearchBox .icon-search, .globalSearchBox .icon-currency {
    position: absolute;
    left: 12px;
    top: 17px;
    font-size: 14px;
    font-weight: 600;
    color: #5f449b;
}
.searchItems {
    display: block;
    background: #fff;
    box-shadow: 0 6px 6px 0 #33300029;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.searchItems {
    margin: 0 -15px;
    display: block;
    background: #fff;
    box-shadow: none!important;
    border-radius: 0!important;
    overflow: hidden;
}
.searchItems ul {
    left: 0!important;
}

.searchItems ul {
    display: block;
    left: 0!important;
    height: auto!important;
    overflow: inherit;
}
.globalSearchBox .propertyType {
    background: 0 0!important;
}

.globalSearchBox .dropdownBtnBox {
    padding: 0 15px;
    margin-top: 15px;
    position: relative;
}
.propertyType {
    background: #fff;
    border-radius: 8px;
}
.globalSearchBox .dropdownToggle {
    padding: 0;
    background: 0 0;
    border: none;
    font-size: 14px;
    color: #000;
    display: block;
    font-weight: 600;
    height: auto;
}
.globalSearchBox .dropdownBody {
    margin-top: 12px;
}
.globalSearchBox .propertyType ul {
    border: solid 1px #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
}

.globalSearchBox .dropdownBtnBox ul {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: auto!important;
}
.globalSearchBox .propertyType .unitTypeSelect .dseFilterLi {
    padding: 0!important;
}

.globalSearchBox .propertyType li {
    list-style: none;
    margin: -1px 1px -1px -1px;
    width: 50%;
}
.globalSearchBox .dropdownBtnBox li {
    flex: none;
    line-height: 38px;
    color: #333;
    font-size: 12px;
}
.globalSearchBox .propertyType li.active .dseFilterLabel {
    background: #f8f5ff;
    color: #5f449b;
}

.globalSearchBox .propertyType .dseFilterLabel {
    height: 42px;
    border-radius: 8px;
    background: #fff;
    color: #000;
}
.mainSearch.active{
    display: block;
    position: fixed;
    z-index: 9999;
    /* margin: 50%; */
    top: 25%;
    left: 10%;
}
.mainSearch{
    display: none;
}
