
/* CustomizedSteppers.css */

.stepperBackButton,
.stepperForwardButton {
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.clientTestimonyCardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #E7B554;
  border-radius: 12px;
  padding: 0px 20px 0px 40px;
}

.clientTestimonyName {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.clientTestimonyCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.clientTestimonyCardContainer {
  border-radius: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.clientTestimonyCardText {
  color: #000000;
  font-weight: 500;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.clientTestimonyCardTextPseudoFlex {
  width: 30%;
}

.clientTestimonyCardTextFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.clientTestimonyCardFace {

  border-radius: 50%;
  width: 40%;
  object-fit: cover;
  margin-top: -65px;
  box-shadow: 0px 6.52px 6.52px 0px rgba(0, 0, 0, 0.25);
}
.swiper-button-next{
  right: -7% !important;
}
.swiper-button-prev{
  left: -7% !important;
}


